<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{.LocationName}}</title>

		<script src="https://unpkg.com/vue@3.2.21/dist/vue.global.prod.js"></script>

		<style>
			body {
				margin: 0;
				padding: 60px;
				font-family: Arial, Helvetica, sans-serif;
				background-color: #f9f9f9;
			}

			#qrcode {
				width: 512px;
				max-width: 100%;
				height: auto;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
				border-radius: 4px;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<h1>{{.LocationName}}</h1>
			<p v-if="hasError">Beim Laden des QR-Codes ist ein Fehler aufgetreten. Bitte kontaktiere den Administrator.</p>

			<div v-else>
				<p>Zum Anmelden den QR-Code mit dem Smartphone scannen.</p>
				<img id="qrcode" src="data:image/png;base64, {{.QrCode}}" alt="QrCode" @error="hasError = true" />
			</div>
		</div>

		<script>
			const app = Vue.createApp({
				el: '#app',
				delimiters: ['[[', ']]'],
				setup() {
					const hasError = Vue.ref(false);

					Vue.onMounted(() => {
						setTimeout(() => location.reload(), {{.QrCodeValidityMs}});
					});

					return { hasError };
				},
			});

			app.mount('#app');
		</script>
	</body>
</html>
