<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Anmelden</title>

		<script src="https://unpkg.com/vue@3.2.21/dist/vue.global.prod.js"></script>

		<style>
			body {
				margin: 0;
				padding: 60px;
				font-family: Arial, Helvetica, sans-serif;
				background-color: #f9f9f9;
			}

			label {
				display: block;
				cursor: pointer;
				margin-bottom: 20px;
			}

			input {
				width: 300px;
				max-width: 100%;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
				border-radius: 4px;
				border: 1px solid #aaaaaa;
				padding: 7px 12px;
			}

			button {
				background-color: aquamarine;
				border: 1px solid #999999;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
				border-radius: 4px;
				cursor: pointer;
				padding: 7px 20px;
				margin-top: 20px;
			}

			button[disabled] {
				filter: grayscale();
			}
		</style>
	</head>
	<body>
		<div id="app">
			<h1>Anmelden</h1>

			<form @submit="login">
				<label>
					Vorname, Nachname:
					<input v-model.trim="name" placeholder="Vorname, Nachname..." />
				</label>

				<label>
					Adresse:
					<input v-model.trim="address" placeholder="Adresse..." />
				</label>

				<button :disabled="disabled">Anmelden</button>
			</form>

			<div v-if="errorMsg">
				<p>Bei der Anmeldung ist ein Fehler aufgetreten.</p>
				<p>Fehler: [[errorMsg]]</p>
			</div>
		</div>

		<script>
			const app = Vue.createApp({
				el: '#app',
				delimiters: ['[[', ']]'],
				setup() {
					const errorMsg = Vue.ref('');
					const name = Vue.ref({{.UserName}});
					const address = Vue.ref({{.UserAddress}});
					const disabled = Vue.ref(false);

					/**
					 * Sends login request to the backend and stores name and address locally if login was successfull
					 */
					const login = async (ev) => {
						disabled.value = true;
						ev.preventDefault();

						const formData = new FormData();
						formData.set('name', name.value);
						formData.set('address', address.value);

						try {
							const response = await fetch('{{.LoginApiUrl}}', {
								method: 'POST',
								body: formData,
							});

							if (!response.ok) {
								throw new Error((await response.text()) || "Unbekannter Fehler");
							}

							errorMsg.value = '';

							// redirect to logout page
							window.location.replace('{{.LogoutUrl}}');
						} catch (e) {
							console.error('Error while logging in to api', e);
							errorMsg.value = e.message;
						}

						disabled.value = false;
					};

					return { login, name, address, errorMsg, disabled };
				},
			});

			app.mount('#app');
		</script>
	</body>
</html>
