<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{.LocationName}}</title>

		<script src="https://unpkg.com/vue@3.2.21/dist/vue.global.prod.js"></script>

		<style>
			body {
				margin: 0;
				padding: 60px;
				font-family: Arial, Helvetica, sans-serif;
				background-color: #f9f9f9;
			}

			button {
				background-color: aquamarine;
				border: 1px solid #999999;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
				border-radius: 4px;
				cursor: pointer;
				padding: 7px 20px;
				margin-top: 20px;
			}

			button[disabled] {
				filter: grayscale();
			}
		</style>
	</head>
	<body>
		<div id="app">
			<h1>Abmelden</h1>

			<button v-if="!isLoggedOut" @click="logout" :disabled="disabled">Abmelden</button>
			<p v-else>Du hast dich erfolgreich abgemeldet. Du kannst das Fenster jetzt schließen.</p>

			<div v-if="errorMsg">
				<p>Beim Abmelden ist ein Fehler aufgetreten.</p>
				<p>Fehler: [[errorMsg]]</p>
			</div>
		</div>

		<script>
			const app = Vue.createApp({
				el: '#app',
				delimiters: ['[[', ']]'],
				setup() {
					const disabled = Vue.ref(false);
					const errorMsg = Vue.ref('');
					const isLoggedOut = Vue.ref(false);

					const logout = async () => {
						disabled.value = true;

						try {
							const response = await fetch('{{.LogoutApiUrl}}', {
								method: 'GET',
							});

							if (!response.ok) {
								throw new Error((await response.text()) || 'Unbekannter Fehler');
							}

							errorMsg.value = '';
							isLoggedOut.value = true;
						} catch (e) {
							console.error('Error while logging in to api', e);
							errorMsg.value = e.message;
							isLoggedOut.value = false;
						}

						disabled.value = false;
					};

					return { disabled, isLoggedOut, logout, errorMsg };
				},
			});

			app.mount('#app');
		</script>
	</body>
</html>
